* {
    padding: o;
    margin: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
}

html{
    font-family: 'Dosis', sans-serif;;
}
.cabecera {
    background-color:rgb(37, 35, 39) ;
    padding: 8px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navlista {
    font-weight: bold;
    display: flex;
    font-size: 20px;
    gap: 10px;       
}
.logo {
    width: 80px;
    height: 40px;   
}

.seccion1 {
    min-height: 70vh;
    background-image: url('./assets/images/portada.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;   
    }

.tituloportada {
    font-size: 70px;
    font-weight: bolder;
    background-color:rgb(247, 243, 243);   
}
.seccion2 {
    height: 20vh;
    background-color:rgb(37, 35, 39);
    color: rgb(15, 15, 15);
    display: flex;
    }
.titulo-sec-2 {
    height: 100%;
    width: 35%;     
    color: rgb(15, 15, 15)ack;
    background-color:rgb(231, 226, 226);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.parrseccion2 {
    height: 100%;
    width: 65%; 
    background-color:rgb(15, 15, 15)ack;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 30px;
    font-size: 18px;
}
.titulo-sec-3 {
    background-color: white
    color: black;
    height: 50px;
    text-align: center;
    margin: 20px;
}
.titulo-sec {
    font-size: 40px;
    font-weight: bolder;
}
.cajas {
    display: flex;
    justify-content: space-around;
    height: 80vh;
    background-color:rgb(247, 243, 243);
    padding: 30px;
}
.caja {
    background-color:white;
    width: 25%;
    height: 70vh;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0rem 0.3rem 11px 2px #00000042;
}
.caja1 {
    
}
.imagen1 {
    width: 100%;
    height: 55%;
}
.subtitulo-sec-3 {
    text-align: center;
    
    font-weight: bold;
}
.parrafo-sec-3 {
    text-align: center;
    font-size: 20px;
}