* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}

body {
  font-family: 'Dosis', sans-serif;
  font-size: 10px;
}
.cabecera {
  background-color: rgb(37, 35, 39);
  padding: 8px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navlista {
  font-weight: bold;
  display: flex;
  font-size: 20px;
  gap: 10px;
  margin-bottom: 0;
}
.logo {
  width: 80px;
  height: 50px;
}
.menu-nav {
  color: white;
  text-decoration: none;
}
.seccion1 {
  min-height: 70vh;
  background-image: url('./assets/images/portadappal.jpeg');
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tituloportada {
  font-size: 70px;
  font-weight: bolder;
  background-color: rgb(247, 243, 243);
}
.seccion2 {
  height: 20vh;
  background-color: rgb(37, 35, 39);
  color: rgb(15, 15, 15);
  display: flex;
}

.titulo-sec {
  margin-bottom: 3rem;
  font-size: 40px;
  font-weight: bolder;
  text-align: center;
  align-items: center;
}

.titulo-quienes-somos {
  width: 35%;
  color: rgb(15, 15, 15) ack;
  background-color: rgb(231, 226, 226);
  display: flex;
  justify-content: space-around;
  margin-bottom: 0;
}

.tits2 {
  margin: 20px;
}
.parrseccion2 {
  height: 100%;
  width: 65%;
  background-color: rgb(15, 15, 15) ack;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 30px;
  font-size: 18px;
}

.card-text {
  font-size: 15px;
}

.footer {
  background-color: rgb(37, 35, 39);
  height: 30vh;
}

.contacto-footer {
  font-size: 25px;
  color: white;
  text-align: center;
  font-weight: bold;
}

.contacto-footerp {
  font-size: 15px;
  color: white;
  text-align: center;
}

.excursion-imagen {
  height: 15rem;
}

.card-excursion {
  margin: 15px;
  box-shadow: 0rem 0.3rem 11px 7px #00000042;
}

.footer {
  padding: 15px;
}

.iconos {
  text-align: center;
}

.fab {
  color: white;
  font-size: 25px;
  margin: 5px;
}
.contacto {
  padding: 30px;
  font-size: 20px;
}


.reservaciones {
  padding: 30px;
  margin: 30px;
}
.tittle-card {
  font-size: 12px;
}

.subtittle-card {
  font-size: 20px;
  font-weight: bold;
}
.excursion-card {
  height: 50vh;
  border-radius: 10px;
}
.photos-carousel {
  height: 50vh;
  border-radius: 10px;
}
.boton-reserva {
  display: flex;
  justify-content: end;
}
.formas-pago {
  flex-direction: column;
  padding: 10px;
  background-color: rgb(216, 205, 205);
  margin-bottom: 20px;
  font-family: 'Dosis', sans-serif;
}
.formas {
  color: rgb(19, 17, 17);
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  margin-bottom: 25px;
}
.iconos-pago {
  display: flex;
  justify-content:center;
  margin-bottom: 15px;
}

.pago1 {
  width: 25%;
  height: 5vh;
}
.pago2 {
  height: 5vh;
}
@media (max-width: 992px) {
  .logo {
    width: 60px;
    height: 25px;
  }
  .navlista {
    font-size: 13px;
  }
  .seccion1 {
    min-height: 45vh;
  }
  .parrseccion2 {
    width: 100%;
    font-size: 13px;
    padding: 5px;
  }
  .seccion2 {
    flex-direction: column;
  }
  .tituloportada {
    font-size: 28px;
    text-align: center;
  }
  .titulo-quienes-somos {
    width: 100%;
  }
  .titulo-sec {
    font-size: 20px;
  }
  .title2 {
    margin: 8px;
  }
  .reservaciones {
    margin: 10px;
    padding: 10px;
  }
  .title-card {
    font-size: 10px;
    padding: 5px;
  }
  .subtittle-card {
    font-size: 14px;
  }
  .card-text {
    font-size: 12px;
  }
  .card-body {
    height: auto;
  }
  .photos-carousel {
    height: 30vh;
  }
  .margen {
    margin-bottom: 15px;
  }
  .excursion-card {
    height: auto;
  }
  .reverse {
    flex-direction: column-reverse;
  }
}
  







